<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='login.css') }}">
</head>

<body class="login-page">

<div class="login-box">

    <h1>CV Parser</h1>

    <p>Quên mật khẩu (Admin)</p>

    <form action="/forgot-password" method="POST">

        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="Nhập email"
            required>

        <button type="submit">
            Gửi OTP
        </button>

        <a href="/login" class="back-login-btn">
            Quay lại đăng nhập
        </a>

        {% if error %}
        <div class="error-box">
            {{ error }}
        </div>
        {% endif %}

    </form>

</div>

</body>

</html>